a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
}

#black {
  background-color: #000;
}

#orange {
  background-color: #F44e31;
}

#pink {
  background-color: #d81e7e;
}

#blue {
  background-color: #0085FF;
}

.basket-total .wrapper .check-total .container, .products .wrapper h3 .container, .product .wrapper .product-info .options, .product .wrapper .product-info .name, .product .wrapper .product-photos .container, .product .wrapper, footer .info .wrapper, header .wrapper, .cards .wrapper .container, .products .wrapper .container, .category .wrapper .container, .main .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.orange {
  border: 1px solid #F44e31;
  color: #F44e31;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 25%;
  border-radius: 5px;
}
.btn.orange:hover {
  border: 1px solid #F44e31;
  color: #F44e31;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 25%;
  border-radius: 5px;
  background-color: #F44e31;
  color: #fff;
  cursor: pointer;
}
.btn.blue {
  border: 1px solid #0085FF;
  color: #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 25%;
  border-radius: 5px;
}
.btn.blue:hover {
  border: 1px solid #0085FF;
  color: #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 25%;
  border-radius: 5px;
  background-color: #0085FF;
  color: #fff;
  cursor: pointer;
}
.btn.white {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 25%;
  border-radius: 5px;
}
.btn.white:hover {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 25%;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  color: #F44e31;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin-bottom: 80px;
}

.main {
  background-color: #F44e31;
}
.main .wrapper .main-block {
  width: 47%;
}
.main .wrapper .main-block h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  margin-bottom: 30px;
}
.main .wrapper .main-block .cover {
  position: relative;
  width: 100%;
  padding-top: 70%;
}
.main .wrapper .main-block .cover img, .main .wrapper .main-block .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .wrapper .main-block .cover img {
  transform: scaleX(-1);
}

.category .wrapper .container:first-child {
  margin-bottom: 3.5%;
}
.category .wrapper .container .product-type {
  width: 31%;
  border: 1px solid transparent;
  transition: 0.4s;
}
.category .wrapper .container .product-type.big {
  width: 65.5%;
}
.category .wrapper .container .product-type.big .cover {
  position: relative;
  width: 100%;
  padding-top: 47.5%;
}
.category .wrapper .container .product-type.big .cover img, .category .wrapper .container .product-type.big .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category .wrapper .container .product-type .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.category .wrapper .container .product-type .cover img, .category .wrapper .container .product-type .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category .wrapper .container .product-type .cover h2 {
  position: absolute;
  z-index: 1;
  bottom: 45%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  text-align: center;
  width: 100%;
  text-shadow: 0 0 0 transparent;
  transition: 0.4s;
}
.category .wrapper .container .product-type .cover img {
  filter: none;
  transition: 0.4s;
}
.category .wrapper .container .product-type:hover {
  cursor: pointer;
  border: 1px solid #F44e31;
}
.category .wrapper .container .product-type:hover h2 {
  text-shadow: 3px 3px #F44e31;
}
.category .wrapper .container .product-type:hover img {
  filter: grayscale(1);
}

.products .wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.products .wrapper .nav-products {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .wrapper .nav-products a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 25px;
  color: #202020;
}
.products .wrapper .nav-products a:hover {
  cursor: pointer;
  color: #F44e31;
  transition: 0.4s;
}
.products .wrapper .container {
  margin-bottom: 40px;
}
.products .wrapper .card {
  width: 31%;
}
.products .wrapper .card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}
.products .wrapper .card h3:hover {
  cursor: pointer;
  color: #F44e31;
}
.products .wrapper .card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}
.products .wrapper .card .cover {
  position: relative;
  width: 100%;
  padding-top: 110%;
  background-color: #ddd7d7;
}
.products .wrapper .card .cover img, .products .wrapper .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products .wrapper .card .cover img {
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  position: absolute;
  z-index: 2;
}
.products .wrapper .card .cover .ellipse {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 22%;
  left: 22%;
  z-index: 1;
}
.products .wrapper .card .cover:hover {
  cursor: pointer;
}
.products .wrapper .btn.orange {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  background-color: #F44e31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.page-title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 30px;
}
.page-title .source a, .page-title .source span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.card {
  width: 30%;
}
.card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}
.card .cover img, .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .cover img {
  object-fit: contain;
  transform: scale(0.7);
  z-index: 2;
}
.card .cover .circle {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 20%;
}
.card-content {
  margin-top: 25px;
}
.card-content h4, .card-content p {
  text-align: center;
}
.card-content h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.card-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 8px;
}

header {
  padding: 25px 0;
}
header .wrapper .logo {
  display: flex;
  align-items: baseline;
}
header .wrapper .logo .ellipse {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #F44e31;
  margin-left: 5px;
}
header .wrapper .logo h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
}
header .wrapper .nav-container {
  display: flex;
  align-items: center;
}
header .wrapper .nav-container .nav-links a {
  text-transform: uppercase;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 20px;
}
header .wrapper .nav-container .nav-links a:hover {
  cursor: pointer;
  color: #F44e31;
  transition: 0.4s;
}
header .wrapper .nav-container .nav-icons {
  cursor: pointer;
  padding-left: 20px;
  border-left: 1px solid #939393;
}
header .wrapper .nav-container .nav-icons svg:first-child {
  margin-right: 10px;
}

footer .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1efef;
  padding: 50px 0;
}
footer .email h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  margin-bottom: 12px;
}
footer .email p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
footer .email .email-btn {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .email .email-btn .button {
  width: 40%;
  border-left: none;
  border-right: none;
  border-top: 1px solid #939393;
  border-bottom: 1px solid #939393;
  padding: 5px;
}
footer .email .email-btn .envelope {
  border-top: 1px solid #939393;
  border-left: 1px solid #939393;
  border-bottom: 1px solid #939393;
  background-color: #fff;
  padding: 5px 10px;
}
footer .email .email-btn .arrow {
  background-color: #F44e31;
  border-top: 1px solid #939393;
  border-right: 1px solid #939393;
  border-bottom: 1px solid #939393;
  padding: 4px 5px;
}
footer .wallpaper {
  display: flex;
  margin-bottom: 50px;
}
footer .wallpaper .cover {
  position: relative;
  width: 100%;
  padding-top: 16.7%;
  width: 16.7%;
}
footer .wallpaper .cover img, footer .wallpaper .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .info {
  margin: 40px 0;
}
footer .info .wrapper {
  align-items: flex-start;
}
footer .info .wrapper .title {
  width: 30%;
  display: flex;
  flex-direction: column;
}
footer .info .wrapper .title .logo {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
footer .info .wrapper .title .logo .ellipse {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #F44e31;
  margin-left: 5px;
}
footer .info .wrapper .title .logo h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
}
footer .info .wrapper .title p {
  width: 83%;
  margin-bottom: 30px;
}
footer .info .wrapper .title .icons svg {
  margin-right: 10px;
}
footer .info .wrapper .title .icons:hover {
  cursor: pointer;
}
footer .info .wrapper .block {
  width: 30%;
}
footer .info .wrapper .block h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 15px 0 20px 0;
}
footer .info .wrapper .block .container {
  display: flex;
}
footer .info .wrapper .block .container .box {
  width: 50%;
}
footer .info .wrapper .block .container .box p {
  margin-bottom: 6px;
}
footer .info .wrapper .block .container .box p:hover {
  cursor: pointer;
}
footer .info .wrapper .contacts {
  width: 30%;
  margin-bottom: 20px;
}
footer .info .wrapper .contacts h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 15px 0 20px 0;
}
footer .info .wrapper .contacts ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
footer .info .wrapper .contacts ul li .address {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
footer .info .wrapper .contacts ul li .address p {
  margin-left: 10px;
}
footer .text {
  border-top: 1px solid #e3e3e3;
}
footer .text p {
  margin: 10px 0;
  text-align: center;
  color: #939393;
}

.product .wrapper .product-photos {
  width: 40%;
}
.product .wrapper .product-photos .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}
.product .wrapper .product-photos .cover img, .product .wrapper .product-photos .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product .wrapper .product-photos .cover img {
  object-fit: contain;
  scale: 0.85;
}
.product .wrapper .product-photos .container {
  margin-top: 3.5%;
}
.product .wrapper .product-photos .container .cover {
  width: 31%;
  padding-top: 31%;
}
.product .wrapper .product-info {
  width: 55%;
}
.product .wrapper .product-info .name h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
}
.product .wrapper .product-info .name h1.price {
  color: #F44e31;
}
.product .wrapper .product-info .description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: justify;
  color: #505050;
  margin: 20px 0;
}
.product .wrapper .product-info .options .size, .product .wrapper .product-info .options .color {
  display: flex;
  gap: 20px;
  align-items: center;
}
.product .wrapper .product-info .options .size p {
  color: #505050;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.product .wrapper .product-info .options .size p.active {
  color: #000;
  border-bottom: 1px solid #000;
}
.product .wrapper .product-info .options .color .circle-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .wrapper .product-info .options .color .circle-container .circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  cursor: pointer;
}
.product .wrapper .product-info .options .color .circle-container .circle.active {
  width: 12px;
  height: 12px;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
}
.product .wrapper .product-info .card {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.05);
  padding: 25px;
  margin: 30px 0;
  width: 93%;
}
.product .wrapper .product-info .card .counter-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 70px;
}
.product .wrapper .product-info .to-basket {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}
.product .wrapper .product-info .to-basket .heart svg {
  padding: 11px;
  border: 1px solid #939393;
  border-radius: 6px;
}
.product .wrapper .note {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product .wrapper .note .share, .product .wrapper .note .categories, .product .wrapper .note .tags {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product .wrapper .note .share p, .product .wrapper .note .categories p, .product .wrapper .note .tags p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.counter {
  display: flex;
  align-items: center;
  border: 1px solid #939393;
  border-radius: 5px;
}
.counter .btn {
  padding: 6px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #505050;
  border-radius: 4px;
  transition: 0.4s;
}
.counter .btn:hover {
  background-color: #F44e31;
  color: #fff;
  cursor: pointer;
}
.counter .minus {
  border-radius: 4px 0 0 4px;
}
.counter .plus {
  border-radius: 0 4px 4px 0;
}
.counter .count {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 40px;
  text-align: center;
}

.text .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 1px solid #939393;
}
.text .wrapper nav {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.text .wrapper nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #505050;
}
.text .wrapper nav a:hover {
  color: #000;
}
.text .wrapper p {
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.products .wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: start;
  margin-bottom: 30px;
}
.products .wrapper h3 .container .card {
  width: 31%;
}
.products .wrapper h3 .container .card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}
.products .wrapper h3 .container .card h3:hover {
  cursor: pointer;
  color: #F44e31;
}
.products .wrapper h3 .container .card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}
.products .wrapper h3 .container .card .cover {
  position: relative;
  width: 100%;
  padding-top: 110%;
  background-color: #ddd7d7;
}
.products .wrapper h3 .container .card .cover img, .products .wrapper h3 .container .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products .wrapper h3 .container .card .cover img {
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  position: absolute;
  z-index: 2;
}
.products .wrapper h3 .container .card .cover .ellipse {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 22%;
  left: 22%;
  z-index: 1;
}
.products .wrapper h3 .container .card .cover:hover {
  cursor: pointer;
}

footer .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1efef;
  padding: 50px 0;
}
footer .email h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  margin-bottom: 12px;
}
footer .email p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
footer .email .email-btn {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .email .email-btn .button {
  width: 40%;
  border-left: none;
  border-right: none;
  border-top: 1px solid #939393;
  border-bottom: 1px solid #939393;
  padding: 5px;
}
footer .email .email-btn .envelope {
  border-top: 1px solid #939393;
  border-left: 1px solid #939393;
  border-bottom: 1px solid #939393;
  background-color: #fff;
  padding: 5px 10px;
}
footer .email .email-btn .arrow {
  background-color: #F44e31;
  border-top: 1px solid #939393;
  border-right: 1px solid #939393;
  border-bottom: 1px solid #939393;
  padding: 4px 5px;
}
footer .wallpaper {
  display: flex;
  margin-bottom: 50px;
}
footer .wallpaper .cover {
  position: relative;
  width: 100%;
  padding-top: 16.7%;
  width: 16.7%;
}
footer .wallpaper .cover img, footer .wallpaper .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .info {
  margin: 40px 0;
}
footer .info .wrapper {
  align-items: flex-start;
}
footer .info .wrapper .title {
  width: 30%;
  display: flex;
  flex-direction: column;
}
footer .info .wrapper .title .logo {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
footer .info .wrapper .title .logo .ellipse {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #F44e31;
  margin-left: 5px;
}
footer .info .wrapper .title .logo h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
}
footer .info .wrapper .title p {
  width: 83%;
  margin-bottom: 30px;
}
footer .info .wrapper .title .icons svg {
  margin-right: 10px;
}
footer .info .wrapper .title .icons:hover {
  cursor: pointer;
}
footer .info .wrapper .block {
  width: 30%;
}
footer .info .wrapper .block h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 15px 0 20px 0;
}
footer .info .wrapper .block .container {
  display: flex;
}
footer .info .wrapper .block .container .box {
  width: 50%;
}
footer .info .wrapper .block .container .box p {
  margin-bottom: 6px;
}
footer .info .wrapper .block .container .box p:hover {
  cursor: pointer;
}
footer .info .wrapper .contacts {
  width: 30%;
  margin-bottom: 20px;
}
footer .info .wrapper .contacts h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 15px 0 20px 0;
}
footer .info .wrapper .contacts ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
footer .info .wrapper .contacts ul li .address {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
footer .info .wrapper .contacts ul li .address p {
  margin-left: 10px;
}
footer .text {
  border-top: 1px solid #e3e3e3;
}
footer .text p {
  margin: 10px 0;
  text-align: center;
  color: #939393;
}

.shopping-cart .wrapper {
  border: 1px solid #939393;
}
.shopping-cart .wrapper #first {
  width: 45%;
}
.shopping-cart .wrapper #second, .shopping-cart .wrapper #third, .shopping-cart .wrapper #forth {
  width: 15%;
}
.shopping-cart .wrapper #fifth {
  width: 10%;
}
.shopping-cart .wrapper p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #404040;
  text-align: center;
  text-transform: capitalize;
}
.shopping-cart .wrapper .basket-name {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #939393;
}
.shopping-cart .wrapper .basket-content {
  padding: 25px 0;
}
.shopping-cart .wrapper .basket-content .basket-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.shopping-cart .wrapper .basket-content .basket-item:last-child {
  margin-bottom: 0;
}
.shopping-cart .wrapper .basket-content .basket-item #delete {
  transition: 0.4s;
  color: #000;
  font-weight: 700;
}
.shopping-cart .wrapper .basket-content .basket-item #delete:hover {
  color: #F44e31;
  cursor: pointer;
}
.shopping-cart .wrapper .basket-content .basket-item #first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.shopping-cart .wrapper .basket-content .basket-item #first p {
  text-align: start;
}
.shopping-cart .wrapper .basket-content .basket-item #first p.size {
  text-transform: uppercase;
  font-weight: 700;
}
.shopping-cart .wrapper .basket-content .basket-item #first .settings {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}
.shopping-cart .wrapper .basket-content .basket-item #first .settings .ellipse {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}
.shopping-cart .wrapper .basket-content .basket-item #third {
  display: flex;
  justify-content: center;
}

.basket-total .wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-end;
}
.basket-total .wrapper .check-total {
  width: 35%;
  padding: 30px 20px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}
.basket-total .wrapper .check-total h3 {
  margin-bottom: 20px;
}
.basket-total .wrapper .check-total .container {
  margin-bottom: 15px;
}
.basket-total .wrapper .check-total .container .title-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
.basket-total .wrapper .check-total .container .value-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.basket-total .wrapper .check-total .container:last-child {
  margin-bottom: 0;
  padding-top: 20px;
  border-top: 1px solid #939393;
}
.basket-total .wrapper .check-total .calculate {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 30px;
}
.basket-total .wrapper .btn.orange {
  width: 15%;
}

/*# sourceMappingURL=style.css.map */
